<?xml version="1.0"?>
<robot name="silverhand_system" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="PI" value="3.141592653589793"/>

  <xacro:include filename="$(find silverhand_rover_model)/urdf/silverhand_rover.urdf.xacro"/>
  <xacro:include filename="$(find silverhand_arm_model)/urdf/silverhand_macro.urdf.xacro"/>
  <xacro:include filename="$(find silverhand_hand_model)/urdf/silverhand_hand_macro.urdf.xacro"/>

  <!-- Рука установлена на нижней передней панели.
       По Y центрирована на площадке, по X подведена так, чтобы задняя
       часть первого линка подходила к вертикальной стенке ровера. -->
  <link name="arm_mount_link"/>

  <joint name="base_to_arm_mount_joint" type="fixed">
    <parent link="base_link"/>
    <child link="arm_mount_link"/>
    <origin xyz="0.324 0.0 -0.076" rpy="0 0 0"/>
  </joint>

  <xacro:silverhand_arm
    prefix="arm_"
    parent="arm_mount_link"
    xyz="0 0 0"
    rpy="0 0 0"/>

  <!-- Гриппер крепится к последнему линку манипулятора.
       При подстройке кисти обычно достаточно править только этот mount. -->
  <xacro:silverhand_hand
    prefix="hand_"
    parent="arm_link_6"
    xyz="0 0 0"
    rpy="0 0 0"/>
</robot>
